{% extends 'core/base.html' %}
{% load static %}
{% block title %} Registro de Usuario {% endblock title %}

{% block content %} 
<div class="flex items-center justify-center h-screen">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold mb-4">Registro de Usuario</h1>
        <form method="post">
            {% csrf_token %}
            <div class="flex flex-col">
                <label for="{{ form.email.id_for_label }}">Correo electrónico:</label>
                {{ form.email }}
            </div>
            <div class="flex flex-col">
                <label for="{{ form.password1.id_for_label }}">Contraseña:</label>
                {{ form.password1 }}
            </div>
            <div class="flex flex-col mb-4">
                <label for="{{ form.password2.id_for_label }}">Confirmar contraseña:</label>
                {{ form.password2 }}
            </div>
            <input type="submit" value="Registrarse" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
            <p class="mt-2">Si ya tienes una cuenta <a href="{% url 'login' %}" class="text-blue-500 hover:underline">Inicia Sesión</a></p>
        </form>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                toastr.error("{{ error }}");
            {% endfor %}
        {% endfor %}
    {% endif %}
</script>
{% endblock %}

