/* body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
} */

.container_cv {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

.section {
    margin-bottom: 30px;
}

.section:last-child {
    margin-bottom: 0;
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}

.skill {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
}

.contact-info {
    margin-top: 30px;
}