.tabla-bordes-negros {
    margin: 0;
    padding: 0;
}

.tabla-bordes-negros th, .tabla-bordes-negros td {
    border: 1px solid black;
    padding: 4px;
    text-align: left;
}

.tabla-bordes-negros th {
    font-weight: bold;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}